@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Galer&iacute;a de imagenes</title>
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Carlos Torres" />
    <link rel="stylesheet" href="~/Content/styles/master.css?v=101" />
</head>
<body>
    <header>
        <h1 onclick="location.href='@Url.Action("Mostrar", "Galeria")'">Galer&iacute;a de imagenes</h1>
    </header>

    <section id="form">
        <div>
            <form action="#" method="post">
                <h2>Agregar imagen</h2>
                <label>Nombre de la imagen:</label><input type="text" /><br/>
                <label>Url de la imagen:</label><input id="url" type="url" required />
                
                <div>
                    <input class="boton" type="submit" value="Agregar" />
                    <input id="atras" onclick="location.href='@Url.Action("Mostrar", "Galeria")';return false;" type="button" class="boton" value="Ir atr&aacute;s" />
                </div>
            </form>
        </div>
    </section>

    <footer>
        <small>Derechos reservados &copy;</small>
    </footer>
</body>
</html>
