
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Galer&iacute;a de imagenes</title>
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Carlos Torres" />
    <link rel="stylesheet" href="~/Content/styles/master.css?v=101" />
</head>
<body>
    <header>
        <h1>Galer&iacute;a de imagenes</h1>
    </header>

    <section id="form">
        <div>
            <form action="#" method="post">
                <h2>Agregar imagen</h2>
                <label>Nombre de imagen:</label><input type="text" /><br/>
                <label>Url de imagen:</label><input type="text" required />
                <input type="submit" value="Agregar imagen" />
            </form>
        </div>
    </section>

    <footer>
        <small>Derechos reservados &copy;</small>
    </footer>
</body>
</html>
