@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Galer&iacute;a de imagenes</title>
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Carlos Torres" />   
    <link rel="stylesheet" href="~/Content/styles/master.css?v=101" />
</head>
<body>
    <header>
        <h1 onclick="location.href='@Url.Action("Mostrar", "Galeria")'">Galer&iacute;a de imagenes</h1>
    </header>

    <section>

        @foreach (var img in Model)
        {
            <figure>
                <img src="@img.ImagenUrl" />
            </figure>
        }

    </section>
    
    <div class="container">
        <div class="btn-holder">
            @Html.ActionLink("Agregar imagen", "Agregar", "Galeria")
        </div>
    </div>

    <footer>
        <small>Derechos reservados &copy;</small>
    </footer>
</body>
</html>
