/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
    padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
    list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
    max-width: 100%;
    display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
    margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


/*        ---------------    Continuacion CSS    ---------------       */

body {
    background-color: black;
}

@font-face {
    font-family: 'Mi fuente';
    src: url('../../Fonts/Understory DEMO.otf');
}

h1 {
    font-family: 'Mi fuente';
    margin-left: 2%;
    margin-top: 0.5%;
    color: white;
    font-size: 2.5em;
    display: inline-block;
    text-shadow: black 0px 1px 15px;
    cursor: pointer;
}

    h1:hover {
        color: gold;
    }

a {
    text-decoration: none;
    font-family: Verdana;
    font-size: 1.1em;
    color: white;
    font-weight: normal;
    display: inline-block;
    transition: transform 0.3s ease-in-out 0.1s;
    border: 1px solid gray;
    padding: 10px 10px;
    border-radius: 10px;
    background: linear-gradient(#30343b, #393939);
    text-shadow: black 1px 1px 10px;
}

    a:hover {
        transform: scale(1.1);
        color: gold;
    }

li {
    list-style: none;
    color: white;
}

header, footer {
    padding: 10px;
    height: 5%;
    background-color: #393939;
}

section {
    margin-top: 1%;
}

img {
    width: 100%;
    height: 100%;
}

figure {
    display: inline-block;
    background-color: #393939;
    height: 300px;
    width: 370px;
    padding: 3px;
    margin-left: 2%;
    margin-bottom: 2%;
    border-radius: 10px;
}

footer {
    margin-top: 2%;
    text-align: center;
    clear: both;
    padding: 3%;
}

small {
    font-family: Verdana;
    font-size: 1.2em;
    color: white;
    text-shadow: black 0px 1px 15px;
}

.container {
    justify-content: space-between;
    flex-direction: column;
    display: flex;
}

.btn-holder {
    margin-right: 1.5%;
    margin-bottom: 1%;
    position: fixed;
    right: 0;
    bottom: 0;
}

label {
    margin-top: 5%;
    margin-left: 5%;
    color: black;
    font-family: Verdana;
    display: inline-block;
    width: 30%;
}

section div {
    background-color: white;
    width: 50%;
    margin: 10px auto;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 1% 0%;
}

h2 {
    font-family: Verdana;
    margin-top: 2%;
    margin-left: 3%;
}

input {
    margin-left: 5%;
    width: 30%;
    font-family: Verdana;
}

#url {
    width: 50%;
}

form div {
    margin-top: 5%;
    text-align: center;
    border: 0px solid black;
    border-radius: 0px;
}

.boton {
    width: 80%;
    background-color: #393939;
    color: white;
    font-family: Verdana;
    padding: 2%;
    border-radius: 7px;
}

#atras {
    margin-top: 1%;
    background-color: #3d444f;
}